.container{
    /* background-image: url("images/3.png");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: rgb(194, 255, 225);
    display: grid;
    place-content: center;
}

canvas {
    margin-top: 160px;
    background: #1f1f1f;
}